body {
    background: black;
    text-align: left;
    color: white;
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-family: 'Happy Monkey', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Karla', sans-serif;
}
#container{
    background: #273549;
    width: 550px;
    height: 550px;
    margin: 200px auto 200px auto;
    display: block;
}
#hero-section{
    font-weight: 800;
    padding: 50px 50px;
}
#length-section{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

#toggle-symbol{
    display: flex;
    justify-content: flex-start;
    color: #10B981;
}
.highlight{
    color: #4ADF86;
}
#flavour-text{
    color: #D5D4D8;
    font-weight: 400;
}
#line {
        margin: 0px 20px 20px 20px;
        background: #2F3E53;
        opacity: 0.5;
}
.button{
    color: white;
    background: #10B981;
    width: 191px;
    height: 42px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    margin-bottom: 20px;
}
#password-section{
    display: flex;
    justify-content: space-around;
}
.pass-el{
    width: 211px;
    height: 39px;
    background: #2F3E53;
    border: none;
    border-radius: 8px;
    color: #55F991;
    padding: 4px;
    overflow: auto;
}
.switch{
    position: relative;
    width: 60px;
    height: 30px;
    margin: 10px 10px 10px 10px;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2F3E53;
    transition: .4s;
    border-radius: 34px;
}
.switch input {display:none}
.slider:before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 5px;
    border-radius: 10px;
    background-color: white;
    transition: 0.4s;
}
input:checked +.slider
{
    background-color: #10B981;
}
input:checked +.slider::before
{
    transform: translateX(30px);
}